image:
  repository: frontend
  tag: dev
  pullPolicy: Never

replicaCount: 1

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: "25m"
    memory: "64Mi"
  limits:
    cpu: "100m"
    memory: "128Mi"

labels:
  app.kubernetes.io/name: frontend
  app.kubernetes.io/component: static-assets-server
  app.kubernetes.io/part-of: smart-enough-city

imagePullSecrets: []

securityContext: {}

containerSecurityContext: {}
