global:
  imagePullSecrets:
    - ghcr-secret

data-handler:
  imagePullSecrets:
    - ghcr-secret
  image:
    repository: ghcr.io/smartenoughcitizens/smartenoughcity/data-handler
    tag: latest
    pullPolicy: IfNotPresent
  securityContext:
    fsGroup: 0
    runAsNonRoot: false
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    readOnlyRootFilesystem: false

frontend:
  imagePullSecrets:
    - ghcr-secret
  image:
    repository: ghcr.io/smartenoughcitizens/smartenoughcity/frontend
    tag: latest
    pullPolicy: IfNotPresent
  securityContext:
    fsGroup: 0
    runAsNonRoot: false
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    readOnlyRootFilesystem: false

hermes:
  imagePullSecrets:
    - ghcr-secret
  image:
    repository: ghcr.io/smartenoughcitizens/smartenoughcity/hermes
    tag: latest
    pullPolicy: IfNotPresent
  securityContext:
    fsGroup: 0
    runAsNonRoot: false
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    readOnlyRootFilesystem: false

inference-engine:
  imagePullSecrets:
    - ghcr-secret
  image:
    repository: ghcr.io/smartenoughcitizens/smartenoughcity/inference-engine
    tag: latest
    pullPolicy: IfNotPresent
  securityContext:
    fsGroup: 0
    runAsNonRoot: false
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    runAsUser: 0
    runAsGroup: 0
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    readOnlyRootFilesystem: false