apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
  {{- toYaml .Values.labels | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/name: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/name: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.application.port }}
              protocol: TCP
          env:
                - name: SPRING_PROFILES_ACTIVE
                  value: {{ .Values.application.profile }}

                - name: SERVER_PORT
                  value: "{{ .Values.application.port }}"

                - name: SPRING_DATASOURCE_URL
                  value: "jdbc:postgresql://{{ .Values.database.host }}:{{ .Values.database.port }}/{{ .Values.database.name }}"

                - name: SPRING_DATASOURCE_USERNAME
                  value: "{{ .Values.database.username }}"

                - name: SPRING_DATASOURCE_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ .Values.database.secretName }}
                      key: {{ .Values.database.secretKey }}


          resources:
  {{- toYaml .Values.resources | nindent 12 }}

