[run]
omit =
    src/data_handler/__main__.py
    src/data_handler/logging.py
    **/models.py

    # TODO: Remove; ignored temporarily
    src/data_handler/congestion_and_construction/*
    src/data_handler/train/*
    src/data_handler/cycle_handler.py
    src/data_handler/luas_handler.py
    