{{- if and (or .Values.frontend.enabled .Values.hermes.enabled) .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: ingress
    app.kubernetes.io/component: ingress
    app.kubernetes.io/part-of: smart-enough-city
  {{- with .Values.ingress.annotations }}
  annotations:
{{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - {{- if .host }}host: {{ .host | quote }}
      {{- end }}
      http:
        paths:
        {{- if $.Values.hermes.enabled }}
        {{- range .hermesPaths | default list }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $.Release.Name }}-hermes
                port:
                  number: {{ $.Values.hermes.service.port | default 8080 }}
        {{- end }}
        {{- end }}
        {{- if $.Values.frontend.enabled }}
        {{- range .frontendPaths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ $.Release.Name }}-frontend
                port:
                  number: {{ $.Values.frontend.service.port }}
        {{- end }}
        {{- end }}
  {{- end }}
{{- end }}
