server:
  port: 8084

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/user-management-realm

  application:
    name: hermes
  main:
    lazy-initialization: true
  jmx:
    enabled: false

  # PostgreSQL Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:55432/smart_enough_city
    username: data_handler
    password: dev_data_handler_password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public # Default for new tables like Disruption
        jdbc:
          lob:
            non_contextual_creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger
    display-request-duration: true
    operationsSorter: method
# Enable only to test if loki works fine locally ,
#logging:
#  file:
#    name: logs/hermes.log
#loki:
#  url: http://localhost:3100/loki/api/v1/push
#  timeoutMs: 5000
