server:
  port: ${SERVER_PORT}

spring:
  liquibase:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}

  application:
    name: hermes

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    properties:
      hibernate:
        default_schema: ${SPRING_JPA_PROPERTIES_HIBERNATE_DEFAULT_SCHEMA:backend}
        hbm2ddl.schema_filter_provider: com.trinity.hermes.config.BackendSchemaFilterProvider
    hibernate:
      ddl-auto: update
    open-in-view: false

keycloak:
  server-url: ${KEYCLOAK_SERVER_URL}
  realm: ${KEYCLOAK_REALM}
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  # TODO to be set properly using secrets
  admin-username: admin
  admin-password: admin

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

# remove after demo
notification:
  templates:
    capacity-alert:
      email:
        subject: "Capacity alert on {corridorName}"
        body: |
          Hi {cityManagerName},

          Our analytics detected a persistent overload on {corridorName} ({routeId})
          during {timeWindow}.

          Key metric:
            • {supportingMetric}

          Recommendation:
            • Add {recommendedExtraBuses} additional buses during this time window.

          Please review this suggestion in the dashboard.

      in-app:
        subject: "Capacity alert: {corridorName}"
        body: "Add {recommendedExtraBuses} buses on {routeId} during {timeWindow}."

    underutilized-route:
      email:
        subject: "Underutilized route: {routeId}"
        body: |
          Hi {cityManagerName},

          Route {routeId} appears underutilized during {timeWindow}.

          Key metric:
            • {supportingMetric}

          Recommendation:
            • Consider reducing frequency or reallocating buses to higher-demand corridors.

          Explore alternative allocation options in the dashboard.

      in-app:
        subject: "Underutilized route {routeId}"
        body: "Route {routeId} underutilized in {timeWindow}. Consider reallocating capacity."
    default:
      email:
        subject: "Notification from Hermes"
        body: |
          {recommendation}

      in-app:
        subject: "New notification"
        body: "You have a new notification from Hermes."


mail:
  from: no-reply@citycontrol.me

aws:
  region: eu-west-1
