apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"networking.k8s.io/v1","kind":"NetworkPolicy","metadata":{"annotations":{},"name":"sec-hermes-allow-ingress","namespace":"dev"},"spec":{"ingress":[{"from":[{"podSelector":{}},{"namespaceSelector":{"matchLabels":{"kubernetes.io/metadata.name":"ingress-nginx"}}}],"ports":[{"port":8080,"protocol":"TCP"}]}],"podSelector":{"matchLabels":{"app.kubernetes.io/instance":"sec","app.kubernetes.io/name":"hermes"}},"policyTypes":["Ingress"]}}
  creationTimestamp: "2026-01-30T21:33:58Z"
  generation: 1
  name: sec-hermes-allow-ingress
  namespace: dev
  resourceVersion: "1769808838813295014"
  uid: af67f3aa-3272-4273-8482-ab3f17e4e030
spec:
  ingress:
  - from:
    - podSelector: {}
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: ingress-nginx
    ports:
    - port: 8080
      protocol: TCP
  podSelector:
    matchLabels:
      app.kubernetes.io/instance: sec
      app.kubernetes.io/name: hermes
  policyTypes:
  - Ingress
